<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <title>Library</title>
</head>
<body>

<input type="hidden" id="status" th:value="${status}">
<input type="hidden" id="errorMessage" th:value="${errorMessage}">

<div th:replace="~{fragments/menu :: menu}"></div>

<div class="container">

  <!--   Book Details Card   -->
  <div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-10">

        <!--  Back Button  -->
        <a class="btn btn-secondary my-2" onclick="history.go(-1)">⇽ Back</a>

        <!--  Main Content  -->
        <div class="card">
          <div class="row">
            <div class="col-md-4">
              <div class="images p-3">
                <div class="text-center px-4"> <img th:src="${'/getImage/' + book.imageName}" id="main-image" src="1.jpg" width="250" /> </div>
              </div>
            </div>
            <div class="col-md-6">
              <div>
                <div class="mt-4">
                  <h5 th:text="${book.title}" class="text-uppercase"></h5>
                  <p>Authors:</p>
                  <ul th:each="author : ${book.authors}">
                    <li th:text="${author.firstName + ' ' + author.lastName}" class="card-subtitle mb-2 text-muted"></li>
                  </ul>
                  <p>Genres:</p>
                  <ul th:each="genre : ${book.genres}">
                    <li th:text="${genre.name}" class="card-subtitle mb-2 text-muted"></li>
                  </ul>
                  <p th:text="${'Year Of Publication: ' + book.year + ' year'}"></p>
                  <p th:text="${'Publisher: ' + book.publisher.name}"></p>
                  <p th:text="${book.amount > 0 ? 'Available' : 'Not Available' }" th:style="${book.amount > 0 ? 'color: #00FF00;' : 'color: #D2042D;' }" class="fst-italic"></p>
                </div>
              </div>
            </div>
          </div>
          <div class="cart mx-5 align-items-center">
            <form action="/orders/save" method="post" class="me-2">
              <input th:value="${book.id}" type="hidden" name="bookId">
              <input th:value="${url}" type="hidden" name="url">
              <button class="btn btn-success text-uppercase" style="width: 250px;" type="submit">Order</button>
            </form>

          </div>
          <div class="row m-4">
            <h3 class="text-center">Description</h3>
            <p th:text="${book.description}"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--  Error Handler / Bootstrap 5 JS  -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.min.css'>
<script type="text/javascript">
  const status = document.getElementById("status").value
  const error = document.getElementById("errorMessage").value;

  if(status==="success") {
    swal("Congrats", "Book Order Successfully", "success");
  }
  else if(status==="failed"){
    swal("Sorry", error, "error");
  }
</script>

</body>
</html>