<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Library</title>
</head>
<body>

<input type="hidden" id="status" th:value="${status}">
<input type="hidden" id="errorMessage" th:value="${errorMessage}">

<div th:replace="~{fragments/menu :: menu}"></div>

<div class="container">

    <!--  Searching  -->
    <form class="d-flex my-3" method="get" action="/books/public/all">
        <input class="form-control me-2 mt-2" type="search" placeholder="Search" aria-label="Search" name="title">
        <button class="btn btn-outline-success mt-2" type="submit">Search</button>
    </form>

    <!--  Cards  -->
    <div class="row">
        <div th:each="book: ${page}" class="card m-3" style="width: 18rem;">
            <img th:src="${'/getImage/' + book.imageName}" class="card-img-top" alt="myImage"/>
            <div class="card-body">
                <h5 th:text="${book.title}" class="card-title"></h5>
                <h6>Authors:</h6>
                <ul th:each="author : ${book.authors}">
                    <li th:text="${author.firstName + ' ' + author.lastName}" class="card-subtitle mb-2 text-muted"></li>
                </ul>

                <!--  Order Form/Button  -->
                <div class="d-flex">
                    <form action="/orders/save" method="post" class="me-2">
                        <input th:value="${book.id}" type="hidden" name="bookId">
                        <input th:value="${url}" type="hidden" name="url">
                        <button class="btn btn-success" type="submit">Order</button>
                    </form>
                    <div>
                        <a th:href="${'/books/public/' + book.getId()}" class="btn btn-primary">More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  Pagination  -->
    <div th:replace="~{fragments/pagination :: pagination}"></div>

</div>

<!--  Error Handler / Bootstrap 5 JS  -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.min.css'>
<script type="text/javascript">
    const status = document.getElementById("status").value
    const error = document.getElementById("errorMessage").value;

    if(status==="success") {
        swal("Congrats", "Book Order Successfully", "success");
    }
    else if(status==="failed"){
        swal("Sorry", error, "error");
    }
</script>
</body>
</html>