<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Library</title>

    <style>
        .new-author-button {
            position: fixed;
            bottom: 20px;
            right: 20px;
        }
    </style>

</head>
<body>

<!--  Menu  -->
<div th:replace="~{fragments/menu :: menu}"></div>

<div class="container">

    <input type="hidden" id="status" th:value="${param.status}">

    <!--  Searching  -->
    <form class="d-flex my-3" method="get" action="/publishers/all">
        <input class="form-control me-2 mt-2" type="search" placeholder="Search" aria-label="Search" name="search">
        <button class="btn btn-outline-success mt-2" type="submit">Search</button>
    </form>

    <!--  Table  -->
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <!-- iterate over list of authors and display in table rows -->
        <tr th:each="publisher : ${page}">
            <td th:text="${publisher.id}"></td>
            <td th:text="${publisher.name}"></td>
            <td>
                <!-- example actions for each author -->
                <a th:href="${'/publishers/edit/' + publisher.id}" class="btn btn-primary">Edit</a>
                <a th:href="${'/publishers/delete/' + publisher.id}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- fixed button "New Author" in bottom-right corner -->
    <a href="/publishers/create" class="btn btn-success new-author-button">New Publisher</a>

    <!--  Pagination  -->
    <div th:replace="~{fragments/pagination :: pagination}"></div>

</div>

<!--  Error Handler / Bootstrap 5 JS  -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.min.css'>
<script type="text/javascript">
    const status = document.getElementById("status").value

    if(status==="failed"){
        swal("Error", "We Hava Already Ordered Books With Such Publisher", "error");
    }
</script>
</body>
</html>